body {
    text-align: center;
}

.header-apoio {
    background-image: url("/images/bg.png");
    background-color: #00CAF3;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 50px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.apoio__title {
    font-family: Anton;
    font-size: 80px;
    line-height: 141px;
    color: #4104A8;
    margin-bottom: 50px;
    margin-top: -70px;    
}

.patrocinadores, .parcerias {
    max-width: 85%;
    margin: 100px auto;
}

.logo-vip  {
    max-width: 500px;
}

.logo-comunidade {
    max-width: 200px;
}

.flex {
    display: flex
}

.card-apoio {
    border-radius: 30px;
    padding: 40px;
    margin: 20px 0;
    border: 5px outset #3d099e;
}

.flex-item {
    width:500px;    
    justify-content:center;
    margin: 0 auto;
}

.vip-text {
    color: #4104A8;
}

.flex-espaco {
    margin-top:100px;
    display: flex;
    justify-content: space-around;
}

