.header-apoio {
    background-image: url("/images/bg.png");
    background-color: #00CAF3;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 50px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header__content-holder {
    text-align: center;
    margin-left: 1rem;
    position: relative;
}

.contato__title {
    font-family: Anton;
    font-size: 80px;
    line-height: 141px;
    color: #4104A8;
    margin-bottom: 50px;
    margin-top: -70px;
    
}

.subtitle-contato {
    font-size: 1.5rem;
    line-height: 30px;
    color: #4104A8;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
}

.card-contato {
    display: flex;
    justify-content: space-around;
    background: #E8E8E8;
    border-radius: 30px;
    padding: 40px;
    margin: 20px 0;
}

.contato {
    max-width: 85%;
    margin: 100px auto;
}

.inscrevase {
    width: 40%;
}

.redes {
    width: 40%;
}

h1 {
    font-family: "Roboto", sans-serif;
    font-size: 1.8rem;
    text-transform: uppercase;
    color: #4104A8;
    margin-bottom: 2rem;
}

.p-inscrevase {
    font-size: 1rem;
    line-height: 2rem;
    margin-bottom: 2rem;
}

.inscrevase-button {
    background: #4104A8;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    line-height: 28px;
    padding: 10px 25px;
    margin: 40px 0;
    transition: ease-in-out .3s;
    text-transform: uppercase;
    color: #fff;
}

.inscrevase-button:hover {
    transform: scale(1.1);
}

h2 {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    text-align: left;
}

.redes-contato {
    display: flex;
    justify-content: center;
    
}

.redes-item {
    margin: 2rem;
}

.email {
    display: block;
    margin-top: 2rem;
}


