.header__content, .hero, .dobro, .article-content, .card__equipe {
    flex-wrap: wrap;
}

#palestrantes, .patrocinadores, .parcerias {
    max-width: 90%;
    text-align: center;
}

.logo-vip  {
    max-width: 300px;
}

.logo-comunidade {
    max-width: 100px;
}

#equipe {
    margin: 100px 50px
}