body {
   font-family: 'Roboto', sans-serif;
   font-size: 18px;
}

h1 {
    font-family: 'Anton', sans-serif;
}

a:hover {
    text-decoration: underline;
}


/* Header */
header {
    background-image: url("/images/bg.png");
    background-color: #00CAF3;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.header__content {
    display: flex;
    justify-content: space-around;
    max-width: 1300px;
}

.header__content-holder {
    text-align: center;
    margin-left: 1rem;
}

nav {
    margin: 20px 0 100px 0;
}

.nav__list {
    display: flex;
    justify-content: center;
}

.nav__list-link {
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 10px 30px;
    text-decoration: none;
}

.nav__list-link:hover {
    color: #E5E5E5;
    text-decoration: wavy;
}

.header__h2 {
    font-size: 60px;
    line-height: 86px;
    color: #FDFDFD;
}

.header__title {
    font-family: Anton;
    font-size: 96px;
    line-height: 141px;
    color: #4104A8;
    margin: 50px 0;
}

.header__h3 {
    font-size: 36px;
    line-height: 43px;
    color: #000000;
}
button {
    background: #4104A8;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    line-height: 28px;
    padding: 10px 25px;
    margin: 40px 0;
    transition: ease-in-out .3s;
}

button:hover {
    transform: scale(1.1);
}

a{
    color: #FDFDFD;
}

.btn-inscreva {
        font-size: 24px;
    line-height: 28px;
    padding: 10px 25px;
    margin: 70px 0;
}

.btn-link {
    color: #FDFDFD;
    text-decoration: none;
}

.logo {
    max-width: 550px;
}

/* Hero */
.hero {
    display: flex;
    justify-content: space-between;
    margin: 100px auto;
    max-width: 85%;
}

.qrcode {
    width: 290px;
    height: 290px;
    margin-left: 30px;
}

.subtitle {
    font-size: 2rem;
    line-height: 30px;
    color: #4104A8;
    font-weight: 700;
}

.primeiro-paragrafo {
    font-size: 26px;
    line-height: 30px;
    padding: 15px 0;    
    font-weight: 900;
}

.segundo-paragrafo {
font-size: 24px;
line-height: 168.19%;
text-align: justify;
font-weight: 500;
}

.conduta-link {
    color: #4104A8;
    text-decoration: none;
    font-weight: 700;
}

/* Palestrantes */
#palestrantes {
    margin: 100px auto;
    max-width: 86%;
}

.foto-streamer {
    width: 250px;
    border-radius: 50%;
    margin: 0 50px;
}

.fab {
    font-size: 42px;
    color: #00CAF3;
}

.fab:hover {
    
    font-size: 46px;
    color: #7109b6;
}

.card {
    background: #E8E8E8;
    border-radius: 30px;
    padding: 40px;
    margin: 20px 0;
}

.dobro, .article-content {
    display: flex;
    justify-content: space-around;    
}

.dobro-item {
    text-align: center;
}

.dobro {     
    margin-top: 80px;
    text-align: center;
}

.redes-sociais {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.social {
    margin: 0 10px;
}

.palestra, .profissa {
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 0.03em;
    color: #4104A8;
    font-weight: 700;
}


.profissa {
    font-size: 24px;
    font-weight: 500;
}

.palestra__descricao {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: justify;
}

.nome {
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
    color: #00CAF3;
    margin-bottom: 1rem;
}

.hora {
    font-size: 28px;
    line-height: 33px;
    padding: 30px 0;
    font-weight: 700;
}

.palestra__descricao-d {
    text-align: center;
    max-width: 60%;
    margin: 0 auto;
}

.botao-assista {
    text-transform: uppercase;
    text-decoration: none;
}



/* Footer*/

footer {
    background-color:#00CAF3;
    color: #E5E5E5;
    height: 50px;
    text-align: center;
}

.footer__text {
    padding-top: 10px;
}

/* Equipe */
#equipe {
    margin: 100px;
    text-align: center;
}

.card__equipe {
    display: flex;
    justify-content: space-around;
}

.equipe__title {
    font-family: Anton;
    font-size: 82px;
    line-height: 141px;
    color: #4104A8;
    margin: 50px 0;
}

.amo__mto {
    margin: 20px;
}

.feminiscat {
    text-align: center;
}

.foto-cat {
    max-width: 500px;
}

.card-cat {
    width: 60%;
    margin: 20px auto;
}