body {
    background-color: #E5E5E5;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Anton', sans-serif;
}

.icon-header {
    width: 50px;
}

.foto-streamer {
    width: 250px;
    border-radius: 50%;
}

.qrcode, .logo {
    width: 200px;
}


.fab {
    font-size: 42px;
    color: #00CAF3;
}